header {
  // margin: 1.5rem auto;
  position: relative;
  z-index: 20;
  padding: 2.5rem 0;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpoint-up(medium) {
    flex-direction: column;
  }
  @include breakpoint-up(large) {
    flex-direction: row;
  }

  &__logo {
    width: 7rem;
    height: 1.25rem;
    @include breakpoint-up(medium) {
      margin-bottom: 2rem;
    }
    @include breakpoint-up(large) {
      margin-bottom: 0;
    }
  }
  &__items {
    display: none;

    @include breakpoint-up(medium) {
      display: block;
    }
    a {
      font-size: 1rem;
      text-transform: uppercase;
      transition: all 250ms ease-in-out;

      &:not(:last-child) {
        margin-right: 1.75rem;
        color: $grayish-blue;
        &:hover {
          color: $very-dark-violet;
        }
      }
    }
  }
  &__burgerMenu {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    @include breakpoint-up(medium) {
      display: none;
    }
  }
  &__close {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
}

.dropDown__linksContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: #141414;
  padding: 3.375rem 0 18rem 0;
  background-image: url(/image/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  transform: translateX(-100%);
  transition: transform 350ms ease-in-out;
  position: absolute;
  z-index: 20;
  @include breakpoint-up(medium) {
    display: none;
  }

  a {
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    color: white;
    text-transform: uppercase;

    &:not(:last-child) {
      &:hover {
        color: $dark-grayish-violet;
      }
    }
    &.btn {
      width: 60%;
      margin: auto;
    }
  }
}
