.hero {
  margin-bottom: 8.75rem;
  z-index: 10;
  &__image {
  }
  &__content {
    background-image: url(/image/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: $darkViolet;
    color: white;
    text-align: center;
    line-height: 1.2;
    padding: 5rem 1.65rem 5.75rem;
    position: relative;
    h1 {
      font-family: "DM Serif Display", serif;
      font-size: 2.6rem;
      margin-bottom: 1.25rem;
    }
    p {
      margin-bottom: 2.5rem;
      line-height: 1.5;
      color: $very-light-gray;
    }
    img {
      display: inline-block;
      width: auto;
      height: auto;
      position: absolute;
      right: 0;
      bottom: -40%;
    }
  }
}
