.hero {
  margin-bottom: 8.75rem;
  z-index: 10;
  background-color: $darkViolet;
  position: relative;

  @include breakpoint-up(large) {
    margin-bottom: 15rem;
    padding-top: 1rem;
  }
  .dp-none {
    display: none;
    @include breakpoint-up(large) {
      display: inline-block;
      position: absolute;
      height: auto;
      width: auto;
    }
  }

  .left-pattern {
    left: 0;
    bottom: -80%;
  }
  .right-pattern {
    right: 0%;
    top: -17%;
  }

  .container {
    width: 100%;

    @include breakpoint-up(large) {
      width: 80%;
      max-width: 69.75rem;
      margin: auto;
      position: relative;
    }
  }

  &__image {
    @include breakpoint-up(large) {
      position: absolute;
      bottom: -20%;
      right: 0;
    }
  }
  &__content {
    color: white;
    background-image: url(/image/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left;
    text-align: center;
    line-height: 1.2;
    padding: 5rem 1.65rem 5.75rem;
    position: relative;
    @include breakpoint-up(large) {
      text-align: left;
      width: 60%;
      background-image: none;
      padding-left: 0;
      margin-right: 2.5rem;
    }

    .hero__line {
      width: 9.375rem;
      height: 2px;
      background-color: lightgrey;
      margin-bottom: 2rem;
      display: none;
      @include breakpoint-up(large) {
        display: block;
      }
    }
    h1 {
      font-family: "DM Serif Display", serif;
      font-size: 2.6rem;
      margin-bottom: 1.25rem;
      @include breakpoint-up(large) {
        font-size: 3.125rem;
        width: 80%;
      }
    }
    p {
      margin-bottom: 2.5rem;
      line-height: 1.5;
      color: $very-light-gray;
      @include breakpoint-up(large) {
        width: 90%;
      }
    }
    img {
      display: inline-block;
      width: auto;
      height: auto;
      position: absolute;
      right: 0;
      bottom: -40%;
      @include breakpoint-up(large) {
        display: none;
      }
    }
  }
}
